{% extends 'header.html' %}
{% block title %}Contact Us - PengWeb{% endblock %}

{% block content %}
<div class="container my-2">

  <!-- Contact Info -->
  <div class="p-4 mb-3 rounded contact-box">
    <h4 class="mb-3">PengYu Global, Inc</h4>
    <div class="fs-3 mb-2">
      <i class="bi bi-telephone">1-(626)-637-9666</i>
    </div>
    <div class="fs-3 my-5">
      <i class="bi bi-envelope"></i>
    </div>
  </div>

  <!-- Location -->
  <div class="p-4 mb-4 rounded contact-box">
    <h4 class="mb-3">Company Location</h4>
    <div class="fs-3 my-5">
      <i class="bi bi-geo-alt">512 Workman Mill Road, Unit 2324, La Puente, California 91746, United States</i>
    </div>
  </div>

</div>
{% endblock %}
