<footer class="bg-light text-dark py-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="text-center mb-3">
          <img src="{{ url_for('static', filename='images/dog.jpg') }}" alt="footer dog" class="footer-img mb-3">

          <div class="mb-3">
            <a href="https://x.com" class="text-dark me-3"><i class="bi bi-twitter-x" style="font-size: 1.5rem;"></i></a>
            <a href="https://instagram.com" class="text-dark me-3"><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a>
            <a href="https://youtube.com" class="text-dark me-3"><i class="bi bi-youtube" style="font-size: 1.5rem;"></i></a>
            <a href="https://linkedin.com" class="text-dark"><i class="bi bi-linkedin" style="font-size: 1.5rem;"></i></a>
        </div>
        </div>
      </div>
      <div class="col-md-3">
        <h6>Use cases</h6>
        <ul class="list-unstyled">
          <li><a href="#">UI design</a></li>
          <li><a href="#">UX design</a></li>
          <li><a href="#">Wireframing</a></li>
          <li><a href="#">Diagramming</a></li>
          <li><a href="#">Brainstorming</a></li>
          <li><a href="#">Team collaboration</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Resources</h6>
        <ul class="list-unstyled">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Best practices</a></li>
          <li><a href="#">Colors</a></li>
          <li><a href="#">Color wheel</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Developers</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Explore</h6>
        <ul class="list-unstyled">
          <li><a href="#">Design</a></li>
          <li><a href="#">Prototyping</a></li>
          <li><a href="#">Design systems</a></li>
          <li><a href="#">Collaboration</a></li>
          <li><a href="#">Process</a></li>
          <li><a href="#">FigJam</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
